<div id='setting-main' class='function-area'>
	<div id='st-main' class='main-area'>
		<div id='st-workflow-1'>
			<p>
				<span>Setting:</span>
				<span id='setting-homepage' class='autofill'></span>
				<button name='setting-homepage' class='save-btn'>Save</button>
				<select class='st-'>
				</select>
			</p>
			<p>
				<span>Test:</span>
				<span id='test-homepage' class='autofill'></span>
				<button name='test-homepage' class='save-btn'>Save</button>
				<select>
				</select>
			</p>
		</div>
	</div>
	<div id='st-mode' class='mode-area'>
		<p id='setting-btn'>Test buston</p>
	</div>
</div>